In [2]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [3]:
y = 5
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [y for x in fruits if "a" in x]  # for x in fruits:  if 'a' in x: newlist.append(y)
print(newlist)

[5, 5, 5]

In [4]:
"""Example for list comprehension"""
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [5]:
numbers = [x for x in range(50)]

print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [6]:
cube = [x**3 for x in range(50)]

print(cube)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649]

In [7]:
vowels = ['a','e','i','o','u']

s1 = 'helloworld'

result = [x for x in s1 if x in vowels]

print(result)

['e', 'o', 'o']

In [8]:
# set comperhension
s2 = {x for x in s1}
print(s2) # set is unordered and unique

{'w', 'l', 'h', 'o', 'd', 'r', 'e'}

In [1]:
# Python program to illustrate
# enumerate function in loops
list1 = ["eat", "sleep", "repeat"]
  
# printing the tuple elements directly
for idx,ele in enumerate(list1):
    print (idx,ele)

0 eat
1 sleep
2 repeat

In [4]:
fh = open('readme.txt','r')
# fh.readlines()
for num,line in enumerate(fh.readlines(),1):
    if num>=10 and num<=20:
        print(num,line,end="")

10    a result of a setting in your ~/.vimrc before reporting it.
11
12  -- Stefano Zacchiroli <zack@debian.org>   Mon, 10 Apr 2006 09:59:41 -0400
13
14 MzScheme Vim variant
15 --------------------
16
17 As requested by the current MzScheme maintainer (Ari Pollak <ari@debian.org>),
18 a vim-mzscheme variant is not being built.  The reasons stated are as follows:
19
20   1) MzScheme does not build on many of Debian's supported architectures.

In [5]:
list1 = ["eat", "sleep", "repeat"]
  
# printing the tuple elements directly
for idx,ele in enumerate(list1,100):
    print (idx,ele)

100 eat
101 sleep
102 repeat

In [6]:
# tuple examples
"""Example for tuples"""

# creating a tuple
t1 = (10,20,'python',30.5) # tuple elements can be of different data type

# modifying tuple element leads to error 
t1[1]=30

print(t1)

TypeError: 'tuple' object does not support item assignment

In [7]:
# overwrite a tuple with different set of values
t1 = (40,50,'ruby',21.5,60)

print(t1)

(40, 50, 'ruby', 21.5, 60)

In [9]:
t2 = 120,50,'ruby',21.5,73
print(type(t2))
print(t2)

<class 'tuple'>
(120, 50, 'ruby', 21.5, 73)

In [10]:
# apply built-in functions on tuple
t2 = (10,20,30,40)

print(sum(t2))

print(max(t2))

print(min(t2))

print(t2.index(30))

100
40
10
2

In [11]:
# example for single element tuple

t3 = (10)
print(type(t3))
print(t3)

<class 'int'>
10

In [14]:
t3 = 10,
print(type(t3))
print(t3)

<class 'tuple'>
(10,)

In [15]:
d1 = {'name':'alice','age':7,'class':'first'}

# print all items in a dictionary
print(d1)

{'name': 'alice', 'age': 7, 'class': 'first'}

In [16]:
# access a value against a specific key.
print(d1['age']) # the output will be 7

7

In [17]:
#dictionary values can be updated by simple assignment
d1['age']=10 # updates the value against the key, if key is present otherwise the key is created
print(d1)

{'name': 'alice', 'age': 10, 'class': 'first'}

In [18]:
d1['lname']='joe'
print(d1)

{'name': 'alice', 'age': 10, 'class': 'first', 'lname': 'joe'}

In [19]:
d1.pop('age') # age and 10
print(d1)

{'name': 'alice', 'class': 'first', 'lname': 'joe'}

In [20]:
d1 = {'name':'alice','age':7,'class':'first'} 

d2 = {'school': 'cps school','rank':'second'}

print("before update:",d1)

d1.update(d2) # updates d1 with items of d2

print("after update:",d1)

before update: {'name': 'alice', 'age': 7, 'class': 'first'}
after update: {'name': 'alice', 'age': 7, 'class': 'first', 'school': 'cps school', 'rank': 'second'}

In [21]:
d3 = {**d1,**d2}
print(d3)

{'name': 'alice', 'age': 7, 'class': 'first', 'school': 'cps school', 'rank': 'second'}

In [22]:
d1.clear() # returns empty dictionary
print(d1)

{}

In [23]:
"""Iterating over dictionaries"""

d1 = {'name':'alice','age':7,'class':'first'}

for key,val in d1.items(): # returns 2 elements tuple each iteration
    print(key,val)

name alice
age 7
class first

In [24]:
for key in d1.keys():
    print(key,d1[key])

name alice
age 7
class first

In [25]:
d1 = {'name':'alice','age':7,'class':'first','name':'bob'}

print(d1)

{'name': 'bob', 'age': 7, 'class': 'first'}

In [26]:
d1 = {'name':'alice','age':7,'class':'first'}

print(d1['name']) # output will be alice

print(d1['lname']) # throws error as the key 'lname' is not existing

alice

KeyError: 'lname'

In [27]:
# by using get function we could avoid error

print(d1.get('lname')) # output will be None as the key is not existing

None

In [28]:
d1 = {'names': ['bob','','tom'],'marks':[10,20,30]}

In [ ]:
pip install pandas # module search path sys.path

In [30]:
import pandas as pd

df = pd.DataFrame(d1)
print(df)

  names  marks
0   bob     10
1           20
2   tom     30

In [31]:
num = int("100")
print(num)

100

In [32]:
d1 = {'name':'alice','age':7,'class':'first'}

print(d1['name']) # output will be alice

print(d1['lname']) # throws error as the key 'lname' is not existing

alice

KeyError: 'lname'

In [33]:
print(d1.get('lname'))

None

In [34]:
print(d1.get('name'))

alice

In [35]:
print(d1.get('lname','Not found'))

Not found

In [36]:
print(d1.get('name','Not found'))

alice

In [37]:

d1 = {'name':'alice','age':7,'class':'first'}

d1.setdefault('rank','second') # creates a key named 'rank' and sets the value as 'second'

print(d1)

{'name': 'alice', 'age': 7, 'class': 'first', 'rank': 'second'}

In [38]:
print(d1.setdefault('name','bob'))

alice

In [39]:
print(d1)

{'name': 'alice', 'age': 7, 'class': 'first', 'rank': 'second'}

In [40]:
"""Example for dict"""

list1=[('name','alice'),('age',7),('class','first')]

d1 = dict(list1)

print(d1)

{'name': 'alice', 'age': 7, 'class': 'first'}

In [41]:
"""using zip function to form list of tuples"""

list2 = ['name','age','class']
list3 = ['alice',7,'first']

list4 = list(zip(list2,list3))
print(list4)

[('name', 'alice'), ('age', 7), ('class', 'first')]

In [42]:
d2 = dict(zip(list2,list3))

In [43]:
print(d2)

{'name': 'alice', 'age': 7, 'class': 'first'}

In [44]:
d1 = {'name':'alice','age':7,'class':'first'}

d1.setdefault('rank','second') # creates a key named 'rank' and sets the value as 'second'

print(d1)

{'name': 'alice', 'age': 7, 'class': 'first', 'rank': 'second'}

In [45]:
print(d1.setdefault('name','bob'))
print(d1)

alice
{'name': 'alice', 'age': 7, 'class': 'first', 'rank': 'second'}

In [51]:
s1 = "name,mark,subject\njoe,68,maths\ntom,59,english\nalice,63,science"
# d1 = {
#  's1': {'name':'joe','mark':'68','subject':'maths'}
#  's2': {'name':'tom','mark':'59','subject':'english'}
#  's3': {'name':'joe','mark':'63','subject':'science'}
# }

In [52]:
data = s1.split('\n')
print(list(data[0].split(',')),data[1])
s2=dict(zip(list(data[0].split(',')),list(data[1].split(','))))
s3=dict(zip(list(data[0].split(',')),list(data[2].split(','))))
s4=dict(zip(list(data[0].split(',')),list(data[3].split(','))))
print(s2)

['name', 'mark', 'subject'] joe,68,maths
{'name': 'joe', 'mark': '68', 'subject': 'maths'}

In [53]:
s1 = "name,mark,subject\njoe,68,maths\ntom,59,english\nalice,63,science"
# d1 = {
#  's1': {'name':'joe','mark':'68','subject':'maths'}
#  's2': {'name':'tom','mark':'59','subject':'english'}
#  's3': {'name':'joe','mark':'63','subject':'science'}
# }
d1 = {} # master dictionary for holding information on all students

data = s1.split('\n')

print(data)

['name,mark,subject', 'joe,68,maths', 'tom,59,english', 'alice,63,science']

In [55]:
header = data[0].split(",")
print(header)

['name', 'mark', 'subject']

In [63]:
for n,v in enumerate(data[1:],1):
    d2= dict(zip(header,v.split(",")))
    #print(n)
    key = f"s{n}"  #  name  mark subject   f"{name} has scored {mark} marks in {subject}"
    d1.setdefault(key,d2)

In [64]:
print(d1)

{'s1': {'name': 'joe', 'mark': '68', 'subject': 'maths'}, 's2': {'name': 'tom', 'mark': '59', 'subject': 'english'}, 's3': {'name': 'alice', 'mark': '63', 'subject': 'science'}}

In [67]:
s1 = "name,mark,subject\njoe,68,maths\ntom,59,english\nalice,63,science"
TEXT = s1.split("\n")

d1 = {}

for i, text in enumerate(TEXT[1:]):

    t2 = text.split(",")

    d1[f's{i+1}'] = {'name': t2[0], 'mark': t2[1], 'subject': t2[2]}  

print(d1)

{'s1': {'name': 'joe', 'mark': '68', 'subject': 'maths'}, 's2': {'name': 'tom', 'mark': '59', 'subject': 'english'}, 's3': {'name': 'alice', 'mark': '63', 'subject': 'science'}}

In [69]:
# empty set 
x = set()
print(type(x))

<class 'set'>

In [70]:
x = {}
print(type(x))

<class 'dict'>

In [71]:
# create a set from a listt

list1 = [10,20,30,40,20,50,10,60,20]
x = set(list1)
print(x)

{40, 10, 50, 20, 60, 30}

In [72]:
# can not use index to access element
print(x[1])

TypeError: 'set' object is not subscriptable

In [73]:
for element in x:
    print(element)

40
10
50
20
60
30

In [74]:
# add can eb used to add elements
x.add(80)
print(x)

{40, 10, 80, 50, 20, 60, 30}

In [75]:
e = x.pop()
print(e)
print(x)

40
{10, 80, 50, 20, 60, 30}

In [76]:
x.remove(20)
print(x)

{10, 80, 50, 60, 30}

In [77]:
x.add(70)
print(x)

{70, 10, 80, 50, 60, 30}

In [78]:
e = x.pop()
print(e)
print(x)

10
{70, 80, 50, 60, 30}

In [79]:
x.discard(50)
print(x)

{70, 80, 60, 30}

In [80]:
s1={1,2,5,6,8}
s2 = {3,6,7,10}
print(s1.intersection(s2))

{6}

In [81]:
print(s1 & s2)

{6}

In [82]:
print(s1.union(s2))

{1, 2, 3, 5, 6, 7, 8, 10}

In [83]:
print(s1 | s2)

{1, 2, 3, 5, 6, 7, 8, 10}

In [84]:
"""Examples for functions"""
# function definition
def sayHello():
    """this is an example function"""
    print("helloworld")
    print("this line is part of the function")
print("a line outside the function")

sayHello() # function call
sayHello()

a line outside the function
helloworld
this line is part of the function
helloworld
this line is part of the function

In [85]:
# get the documentation string of the function
print(sayHello.__doc__)

this is an example function

In [87]:
list1 = [10,20,30,40]

list1.append() # parameter is required

print(list1)

TypeError: list.append() takes exactly one argument (0 given)

In [ ]:
list1.pop() # parameter is optional

In [88]:
def echo(n): # 'n' is a required parameter
    print(n)

In [89]:
echo() # calling the function without parameter leads to error

TypeError: echo() missing 1 required positional argument: 'n'

In [90]:
echo(10)

10

In [91]:
print(age)

NameError: name 'age' is not defined

In [92]:
def display(name,age):
    
    print(f"Name : {name}")
    print(f"Age: {age}")

# The parameters can be treated as keyword in function call
# and passing order can be modified

display(age=7,name='krish')

Name: krish
Age: 7

In [94]:
display(7,'krish')

Name: 7
Age: krish

In [98]:
# in the below function parameter 'r' is assgined value in the function definition and is
# called as default argument.
#def calculateinterest(p,n,r=12):
def calculateinterest(p,r=12,n):
    return p*n*r/100

SyntaxError: parameter without a default follows parameter with a default (2611865321.py, line 4)

In [99]:
#def calculateinterest(p,n,r=12):
def calculateinterest(p,n,r=12):
    return p*n*r/100

In [96]:
# no need of including default argument in the function call
total = calculateinterest(1000,3) # the value for 'r' is 12
print(total)

360.0

In [97]:
# The value provided for default argument is considered in function call (or) default value is overwritten
total = calculateinterest(1000,3,8) # the value for 'r' is 8
print(total)

240.0

In [100]:
# multiple assignments 
a,b = 10,20
print(a)
print(b)

10
20

In [101]:
a,b = 10,20,30,40,50,60
print(a)
print(b)

ValueError: too many values to unpack (expected 2)

In [102]:
a,b,*c = 10,20,30,40,50,60
print(a)
print(b)
print(c)

10
20
[30, 40, 50, 60]

In [105]:
def find_max(*args):
    # args inside the function is treated as tuple
    print(type(args))
    m = args[0]
    
    for v in args:
        if m<v: m=v
    return m

In [106]:
maxval = find_max(83,405,91,372,548)
print(maxval)

<class 'tuple'>
548

In [107]:
maxval = find_max(83,405,91,372,548,68,230,915,29,165)
print(maxval)

<class 'tuple'>
915

In [108]:

def multipleParams(**kwargs):
    # kwargs inside the function is treated as dictionary
    print(kwargs)

In [109]:
multipleParams(name='alice',age=10,school='cps')

{'name': 'alice', 'age': 10, 'school': 'cps'}

In [110]:
"""Examples for mutable object - reference is not modified"""
def changeval(thelist):
    thelist.append([21,56,70])
    print("Value inside function: ", thelist) 
    
mylist = [10,20,30 ]

changeval(mylist)  # thelist = mylist

print("Value outside function: ", mylist)

Value inside function:  [10, 20, 30, [21, 56, 70]]
Value outside function:  [10, 20, 30, [21, 56, 70]]

In [112]:
"""Examples for mutable object - reference modified"""
def changeval(thelist):
    thelist = [21,56,70]
    print("reference of thelist:",id(thelist))
    print("Value outside function: ", thelist) 

mylist = [10,20,30 ]
print("reference of mylist:",id(mylist))
changeval(mylist)

print("Value outside function: ", mylist)

reference of mylist: 2207582921920
reference of thelist: 2207583147328
Value outside function:  [21, 56, 70]
Value outside function:  [10, 20, 30]

In [117]:
"""Examples for immutable object"""
def changeval(s1):
    s1 = "welcome to python"
    print("Value inside function: ", s1)

s1 = "hello python"

changeval(s1)  # somestring = s1

print("Value outside function: ", s1)

Value inside function:  welcome to python
Value outside function:  hello python

In [118]:
"""Example for first class function"""

def square(x):
    return x*x

print(square(8)) # output will be 64

64

In [120]:
# print the function reference using function name
print(square) # function reference in hexadecimal form

<function square at 0x00000201FE4653A0>

In [121]:
# assign the function reference to a variable
ref1 = square

In [122]:
print(ref1)

<function square at 0x00000201FE4653A0>

In [123]:
print(ref1(10))

100

In [124]:
"""Examples for lambda function"""

# defining a lambda function
ref2 = lambda x: x*x

In [125]:
print(ref2)

<function <lambda> at 0x00000201FE464FE0>

In [126]:
print(ref2(13))

169

In [132]:
"""Example for filter"""

numbers = [x for x in range(50)]
print(numbers)
def sort_fn(x):
    return x%6==0

# filter using custom function
even_numbers = list(filter(sort_fn,numbers))

print(even_numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[0, 6, 12, 18, 24, 30, 36, 42, 48]

In [140]:
"""Example for filter"""

numbers = [x for x in range(50)]
print(numbers)


# filter using custom function
even_numbers = list(filter(lambda x: x%8==0,numbers))

print(even_numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[0, 8, 16, 24, 32, 40, 48]

In [134]:
"""Example for map"""

numbers = [x for x in range(50)]
print(numbers)

def square(x):
    return x*x

# filter using custom function
square_numbers = list(map(square,numbers))

print(square_numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401]

In [138]:
"""Example for map"""

numbers = [x for x in range(100)]
print(numbers)


# filter using custom function
square_numbers = list(map(lambda x:x *x,numbers))

print(square_numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [142]:
list1 = [10,20,30,40,50]

for element in list1:
    print(element)

10
20
30
40
50

In [150]:
# iter - built-in function to create iterator
ia = iter(list1)
#print(next(ia)) # print(ia.__next__())
for _ in range(len(list1)):
    print(next(ia))

10
20
30
40
50

In [144]:
print(next(ia))

20

In [145]:
print(next(ia))

30

In [146]:
print(next(ia))

40

In [147]:
print(next(ia))

50

In [148]:
print(next(ia))

StopIteration:

In [151]:
def genseq():
    return 1
    return 2
    return 3

In [153]:
for num in genseq():
    print(num)

TypeError: 'int' object is not iterable

In [154]:
def genseq():
    yield 1
    yield 2
    yield 3

In [155]:
for num in genseq():
    print(num)

1
2
3