In [3]:
import pymysql

conn = pymysql.connect(host='localhost',user='root',password='Rps@123',db='demodb_1')

In [4]:
import sys
if not conn:
    sys.exit()
cur = conn.cursor() # create a cursor
# psycopg2
# oracle_ca
try:
    cur.execute("select * from books")
    #cur.execute("create table books(bookid int,booktitle varchar(50))")
    #cur.execute("insert into books values(2,'programming in cpp')")
    #conn.commit()
except pymysql.Error:
    print("error creating table")
else:
    records = cur.fetchall() #  cur.fetchone()
    for row in records:
        print(f"ID:{row[0]},Title:{row[1]}")
finally:
    conn.close()

ID:1,Title:programming in python
ID:2,Title:programming in cpp